<strong>{{ model.name }}</strong> (total {{ model.publicRepos }})

<ul>
{{#each model.repositories as |repo|}}
  <li>
    {{repo.fullName}} ({{repo.language}}, {{repo.stargazersCount}} stars)
    <button {{action 'star' repo}}>Star!</button>
  </li>
{{/each}}
</ul>