<strong>{{ this.model.name }}</strong> (total {{ this.model.publicRepos }})

<ul>
 {{#each this.model.repositories as |repo|}}
   <li>
     {{repo.fullName}} ({{repo.language}}, {{repo.stargazersCount}} stars)
     <button {{on "click" (fn this.star repo)}}>Star!</button>
   </li>
 {{/each}}
</ul>